{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut cupiditate illo. Cumque, optio sint dolor perspiciatis expedita hic est nostrum corrupti dicta omnis impedit! Cumque dolorum iure ducimus vel quisquam animi quaerat tempora rerum molestiae nemo maxime aliquam doloribus voluptatum corrupti praesentium quis voluptatibus consequuntur accusamus voluptate, repudiandae aliquid.</p>
        
        <div>
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
        
    </section>
</main>
    
{% endblock %}